@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #49ADF4;
  --color-secondary: #005BC6;
  --color-button-primary-default: #49ADF4;
  --color-button-primary-pressed: #005BC6;
  --color-button-primary-disabled: rgba(36, 124, 227, 0.5);
  --color-button-secondary-border-default: #49ADF4;
  --color-button-secondary-border-pressed: #005BC6;
  --color-button-secondary-border-disabled: rgba(36, 124, 227, 0.5);
}