@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #dd231b;
  --color-secondary: #a8130a;
  --color-button-primary-default: #dd231b;
  --color-button-primary-pressed: #a8130a;
  --color-button-primary-disabled: rgba(221, 35, 27, 0.5);
  --color-button-secondary-border-default: #dd231b;
  --color-button-secondary-border-pressed: #a8130a;
  --color-button-secondary-border-disabled: rgba(221, 35, 27, 0.5);
}
