@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #994D1C;
  --color-secondary: #6B240C;
  --color-button-primary-default: #994D1C;
  --color-button-primary-pressed: #6B240C;
  --color-button-primary-disabled: rgba(107, 36, 12, 0.5);
  --color-button-secondary-border-default: #994D1C;
  --color-button-secondary-border-pressed: #6B240C;
  --color-button-secondary-border-disabled: rgba(107, 36, 12, 0.5);
}